<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users" data-pagination="true" >
    <%= render @users %>
</ul>
<p data-pagination-loading="true" class="hide" >Loading more users...</p>

<%= will_paginate %>


